registry=https://pkgs.dev.azure.com/shubhamc2211/new-project/_packaging/new-feed/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/shubhamc2211/new-project/_packaging/new-feed/npm/registry/:username=shubhamc2211
//pkgs.dev.azure.com/shubhamc2211/new-project/_packaging/new-feed/npm/registry/:_password=eWt1dHBlZHd4dHJocDZuZmM0YnJjM2M0djdmd3RidW00amo0NmF4MmsyMmltbG03bG1rcQ==
//pkgs.dev.azure.com/shubhamc2211/new-project/_packaging/new-feed/npm/registry/:email=shubhamc2211@gmail.com
//pkgs.dev.azure.com/shubhamc2211/new-project/_packaging/new-feed/npm/:username=shubhamc2211
//pkgs.dev.azure.com/shubhamc2211/new-project/_packaging/new-feed/npm/:_password=eWt1dHBlZHd4dHJocDZuZmM0YnJjM2M0djdmd3RidW00amo0NmF4MmsyMmltbG03bG1rcQ==
//pkgs.dev.azure.com/shubhamc2211/new-project/_packaging/new-feed/npm/:email=shubhamc2211@gmail.com
; end auth token

#ykutpedwxtrhp6nfc4brc3c4v7fwtbum4jj46ax2k22imlm7lmkq