body{
    margin: 0;
}

.top-panel{
    background-color: hsl(225, 6%, 25%);
}

.panel{
    height: 50vh;
    display: flex;
}
.editor-container{
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    background-color: hsl(225, 6%, 25%);
}

.editor-title{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: .5rem .5rem .5rem 1rem;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
}



.editor-container.collapsed{
    flex-grow: 0;
}
.editor-container.collapsed .CodeMirror-scroll{
    position: absolute;
    overflow: hidden !important;
}
.expand-collapse-btn{
    margin-left: .5rem;
    background: none;
    border: none;
    color:white;
    cursor: pointer;
}
div.editor-container:nth-child(1) > div:nth-child(2) > div:nth-child(1){
    display: none;
}
div.editor-container:nth-child(2) > div:nth-child(2) > div:nth-child(1){
    display: none;
}
div.editor-container:nth-child(3) > div:nth-child(2) > div:nth-child(1){
    display: none;
}
.full{
    height: 100vh;
}
